*{
  background-size: cover;
}

body{
  background-image: url("../img/background.jpg");
}

header > span {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
}

.textbot > div {
  font-size: 35px;
  color: #fff;
  font-weight: bold;
}

.textbot > div > span {
  background-color: orange;
  border-radius: 50%;
}
